{% if site.data.news.items %}
<div class="news-list-wrap">
  <div class="news-list" role="region" aria-label="News updates" tabindex="0">
  {% assign news_items = site.data.news.items | sort: "sort" | reverse %}
  {% for item in news_items %}
  <p class="news-item">
    <span class="news-date">[{{ item.month }} '{{ item.year | slice: 2, 2 }}]</span>
    <span class="news-text">{{ item.text | markdownify | remove: '<p>' | remove: '</p>' }}</span>
  </p>
  {% endfor %}
  </div>
</div>
{% endif %}
