{% assign p = include.project %}
{% assign active_sample = p.samples | first %}
{% assign pre_src = '/images/' | append: active_sample.pre_image | prepend: site.baseurl %}
{% assign post_src = '/images/' | append: active_sample.post_image | prepend: site.baseurl %}
{% assign result_src = '/images/' | append: active_sample.result_image | prepend: site.baseurl %}

<div class="viz-project" id="project-{{ p.id }}">
  <h5 class="viz-project__title">
    <a class="viz-project__permalink" href="#project-{{ p.id }}" aria-label="Permalink to this project demo">#</a>
    {{ p.title }}
  </h5>
  {% if p.description %}
  <div class="viz-project__description">{{ p.description | markdownify }}</div>
  {% endif %}
  {% if p.samples %}
  {% for sample in p.samples %}
  <div class="viz-project__caption-template js-caption-template" data-sample-id="{{ sample.id }}" hidden>{{ sample.caption | markdownify }}</div>
  {% endfor %}
  {% endif %}
  {% if p.imagery_source %}
  <p class="viz-project__source">{{ p.imagery_source | markdownify }}</p>
  {% endif %}

  <div class="viz-project__demo-wrap">
    {% if p.samples %}
    <div class="viz-project__sample-nav" role="tablist" aria-label="Sample communities">
      <span class="viz-project__sample-slider js-sample-slider" aria-hidden="true"></span>
      {% for sample in p.samples %}
      <button
        type="button"
        class="viz-project__sample-btn js-sample-btn{% if forloop.first %} is-active{% endif %}"
        role="tab"
        data-sample-id="{{ sample.id }}"
        data-pre="{{ '/images/' | append: sample.pre_image | prepend: site.baseurl }}"
        data-post="{{ '/images/' | append: sample.post_image | prepend: site.baseurl }}"
        data-result="{{ '/images/' | append: sample.result_image | prepend: site.baseurl }}"
        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
      ><span class="viz-project__sample-btn-text">{{ sample.label }}</span></button>
      {% endfor %}
    </div>
    {% endif %}

    <div class="viz-project__demo">
      <div class="synced-swipe js-synced-swipe" data-position="50">
        <div class="synced-swipe__stack js-synced-swipe-stack">
          <div class="synced-swipe__panel synced-swipe__panel--top">
            <div class="swipe-compare js-swipe-compare">
              <img class="swipe-compare__before js-sample-pre" src="{{ pre_src }}" alt="{{ p.top_left_label }}">
              <div class="swipe-compare__after-wrap js-swipe-after-wrap">
                <img class="swipe-compare__after js-sample-post" src="{{ post_src }}" alt="{{ p.top_right_label }}">
              </div>
              <span class="swipe-compare__label swipe-compare__label--left">{{ p.top_left_label }}</span>
              <span class="swipe-compare__label swipe-compare__label--right">{{ p.top_right_label }}</span>
            </div>
          </div>
          <div class="synced-swipe__panel synced-swipe__panel--bottom">
            <div class="swipe-compare js-swipe-compare">
              <img class="swipe-compare__before js-sample-pre" src="{{ pre_src }}" alt="{{ p.bottom_left_label }}">
              <div class="swipe-compare__after-wrap js-swipe-after-wrap">
                <img class="swipe-compare__after js-sample-result" src="{{ result_src }}" alt="{{ p.bottom_right_label }}">
              </div>
              <span class="swipe-compare__label swipe-compare__label--left">{{ p.bottom_left_label }}</span>
              <span class="swipe-compare__label swipe-compare__label--right">{{ p.bottom_right_label }}</span>
            </div>
          </div>
        </div>

        <div
          class="synced-swipe__handle js-synced-swipe-handle"
          role="slider"
          aria-label="Drag to compare imagery and damage assessment"
          aria-valuemin="0"
          aria-valuemax="100"
          aria-valuenow="50"
          tabindex="0"
        >
          <div class="synced-swipe__handle-line"></div>
          <div class="synced-swipe__handle-knob"></div>
        </div>
      </div>
    </div>

    {% if p.samples %}
    <div class="viz-project__sample-name js-sample-active-label" aria-live="polite">{{ active_sample.label }}</div>
    <div class="viz-project__caption viz-project__caption--below js-project-caption">{{ active_sample.caption | markdownify }}</div>
    {% elsif p.caption %}
    <div class="viz-project__caption viz-project__caption--below">{{ p.caption | markdownify }}</div>
    {% endif %}
  </div>
</div>
